@import "../base/styles.css";

.blue-score, .red-score {
   padding: 6px;
   color: white;
   font-weight:bold;
   font-size:20px;
}

.score-bg {
  background-color:#0e0e0e;
  border-radius: 16px;
  padding: 2px;
}

/* Add round corner for first and last score. */
.score-bg div div:first-child div div {
  border-radius: 14px 0px 0px 14px;
}

/* Taking second last element, last is an empty div from vaadin magic */
.score-bg div div:nth-last-child(2) div div {
  border-radius: 0px 14px 14px 0px;
}

.team-score {
  padding-left: 4px;
  padding-right: 4px;
}

.team-Red-bg, div.team-Red-bg {
  background-color:#D0242e;
}

.team-Green-bg, div.team-Green-bg {
  background-color:#14a32d;
}

.team-Blue-bg, div.team-Blue-bg {
   background-color:#2044de;
}

.team-Pink-bg, div.team-Pink-bg {
   background-color:#fb46e2;
}

.team-Purple-bg, div.team-Purple-bg {
   background-color:#9b17de;
}

.team-Black-score, div.team-Black-score {
   background-color:#0a010e;
}

.change-team-button, div.change-team-button {
   margin-left: 4px;
}

.change-team-caption {
   font-size: 16px;
   padding: 4px;
}

.v-customcomponent {
   height: auto !important;
}

.resultView{
    /*margin-top: 20%;*/
}
.resultLabel{
    /*margin-left: 20%;*/
    font:bold 60px arial, sans-serif;
    text-align: center;
}

